.container {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 224, 160);


}

.calculateButton {

  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 10px;
}

.lastLine {
  display: inline-grid;
  grid-template-columns: auto auto;

}

.displayInput {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 134, 134);
  height: 60px;

}

input {
  background-color: rgb(58, 189, 98);
  height: 60px;
  font-size: 18px;
  border: 1px solid gray;
}